<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BrainCheckr | Update MedicalHistory</title>
  <link rel="stylesheet" href="/css/page_style.css" />
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>

<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class="bx bx-brain"></i>
      <div class="logo_name">BrainCheckr</div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/dashboard">
          <i class="bx bx-grid-alt"></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="/users/<%= user.userId %>">
          <i class="bx bx-user"></i>
          <span class="links_name">User</span>
        </a>
        <span class="tooltip">User</span>
      </li>
      <li>
        <a href="/users/<%= user.userId %>/activity">
          <i class="bx bx-run"></i>
          <span class="links_name">Activity</span>
        </a>
        <span class="tooltip">Activity</span>
      </li>
      <li>
        <a href="/users/<%= user.userId %>/food">
          <i class="bx bx-food-menu"></i>
          <span class="links_name">Food</span>
        </a>
        <span class="tooltip">Food</span>
      </li>
      <li>
        <a href="/api/users/<%= user.userId %>/medication">
          <i class="bx bx-first-aid"></i>
          <span class="links_name">Medication</span>
        </a>
        <span class="tooltip">Medication</span>
      </li>
      <li>
        <a href="/api/users/<%= user.userId %>/medicalHistory">
          <i class="bx bx-history"></i>
          <span class="links_name">Medical History</span>
        </a>
        <span class="tooltip">Medical History</span>
      </li>
      <li>
        <a href="/users/<%= user.userId %>/sleep">
          <i class="bx bx-bed"></i>
          <span class="links_name">Sleep</span>
        </a>
        <span class="tooltip">Sleep</span>
      </li>
      <li>
        <a href="/users/<%= user.userId %>/health">
          <i class="bx bx-plus-medical"></i>
          <span class="links_name">Health</span>
        </a>
        <span class="tooltip">Health</span>
      </li>
      <li class="profile">
        <div class="profile-details">
          <div class="name"><%= user.userName %></div>
          <a href="/logout"><i class="bx bx-log-out" id="btn"></i></a>
        </div>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="text">Medical History</div>
    <div class="home-section-content">
      <p class="start">Update Medical History</p>
      <hr />
      <section class="page-tabs">
        <div>
          <span><a href="/api/users/<%= user.userId %>/medicalHistory">My Medical History</a></span>
          <span>|</span>
          <span><a href="/api/users/<%= user.userId %>/medicalHistory/create">Create New</a></span>
        </div>
      </section>
      <section class="page-body">
        <div class="form-container">
          <form method="POST" action="/api/users/<%= user.userId %>/medicalHistory/<%= medicalHistory.medicalHistoryId %>/edit">
            <p class="form-header">Update Medical History</p>
            <div class="form-field">
              <p class="info-value"><span class="info-item">Current Condition Name: </span><%= medicalHistory.conditionName %></p>
              <label class="info-item" for="conditionName">New Condition Name:</label>
              <input type="text" id="conditionName" name="conditionName" value="<%= medicalHistory.conditionName %>" required>
            </div>
            <div class="form-field">
              <p class="info-value"><span class="info-item">Current Diagnosis Date: </span><%= medicalHistory.diagnosisDate.toUTCString().slice(4, 16) %></p>
              <label class="info-item" for="diagnosis">New Diagnosis Date:</label>
              <input type="date" id="diagnosisDate" name="diagnosisDate" value="<%= medicalHistory.diagnosisDate.toISOString().slice(0,10) %>" required>
            </div>
            <div class="form-field">
              <p class="info-value"><span class="info-item">Current Treatment: </span><%= medicalHistory.treatment %></p>
              <label class="info-item" for="treatment">New Frequency:</label>
              <input type="text" id="treatment" name="treatment" value="<%= medicalHistory.treatment %>" required>
            </div>
            <div class="form-field">
              <label class="info-item note" for="note">New Note:</label>
              <textarea type="text" id="note" name="note" value="<%= medicalHistory.note %>"></textarea>
            </div>
            <button class="add-btn">Save</button>
          </form>
        </div>
      </section>
    </div>
  </section>
  <script>
    let sidebar = document.querySelector('.sidebar');
    let closeBtn = document.querySelector('#btn');
    let searchBtn = document.querySelector('.bx-search');

    closeBtn.addEventListener('click', () => {
      sidebar.classList.toggle('open');
      menuBtnChange(); //calling the function
    });

    searchBtn.addEventListener('click', () => {
      // Sidebar open when you click on the search icon
      sidebar.classList.toggle('open');
      menuBtnChange(); //calling the function
    });

    // the code changes sidebar button
    function menuBtnChange() {
      if (sidebar.classList.contains('open')) {
        closeBtn.classList.replace('bx-menu', 'bx-menu-alt-right'); //replacing the icons class
      } else {
        closeBtn.classList.replace('bx-menu-alt-right', 'bx-menu'); //replacing the icons class
      }
    }
  </script>
</body>

</html>