<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Health Data</title>
  <link rel="stylesheet" href="./css/stylesheet.css" />
</head>

<body class="body-wrap">
  <div>
    <header class="page-header">
      <p><%= user.userName %>'s Health Data</p>
    </header>
    <section class="page-tabs">
      <div>
        <span><a href="/user/<%= user.userId %>/health-data">My Health Data</a></span>
        <span>|</span>
        <span><a href="/health-data">Add New Health Data</a></span>
        <span>|</span>
        <span><a href="/health-data/<%= healthData.healthDataId %>/update">Update Health Data</a></span>
      </div>
    </section>
    <section class="page-body">
      <% for (const data of healthData) { %>
      <div class="flex-fill">
        <div class="data-card">
          <h3>Measurement Date: <%= data.measurementDate.toDateString() %></h3>
          <p>Weight: <%= data.weight %> kg</p>
          <p>Height: <%= data.height %> cm</p>
          <p>BMI: <%= data.bmi %></p>
          <p>Heart Rate: <%= data.heartRate %> bpm</p>
          <p>Blood Pressure: <%= data.bloodPressureSystolic %>/<%= data.bloodPressureDiastolic %> mmHg</p>
          <p>Note: <%= data.note ?? 'Unknown' %></p>
        </div>
      </div>
      <% } %>
    </section>
  </div>
</body>

</html>
