<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Medication</title>
  <link rel="stylesheet" href="./css/stylesheet.css" />
</head>

<body class="body-wrap">
  <div>
    <header class="page-header">
      <p><%= user.userName %>'s Medication Data</p>
    </header>
    <section class="page-tabs">
      <div>
        <span><a href="/user/<%= user.userId %>/medication">My Medication Data</a></span>
        <span>|</span>
        <span><a href="/medication">Create New</a></span>
        <span>|</span>
        <span><a href="/medication/<%= medicationData.medicationDataId %>/update">Update</a></span>
      </div>
    </section>
    <section class="page-body">
      <% for (const medicationData of medicationData) { %>
      <div class="flex-fill">
        <div class="data-card">
          <h3><%= medicationData.medicationName %></h3>
          <p>Dosage: <%= medicationData.dosage %></p>
          <p>Frequency: <%= medicalHistory.frequency %></p>
          <p>Note: <%= medicalHistory.note ?? 'Unknown' %></p>
        </div>
      </div>
      <% } %>
    </section>
  </div>
</body>

</html>
