<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BrainCheckr | Update Profile</title>
  <link rel="stylesheet" href="/css/page_style.css" />
  <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>

<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class="bx bx-brain"></i>
      <div class="logo_name">BrainCheckr</div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="/dashboard">
          <i class="bx bx-grid-alt"></i>
          <span class="links_name">Dashboard</span>
        </a>
        <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="/users/<%= user.userId %>">
          <i class="bx bx-user"></i>
          <span class="links_name">User</span>
        </a>
        <span class="tooltip">User</span>
      </li>
      <li>
        <a href="/users/<%= user.userId %>/activity">
          <i class="bx bx-run"></i>
          <span class="links_name">Activity</span>
        </a>
        <span class="tooltip">Activity</span>
      </li>
      <li>
        <a href="/users/<%= user.userId %>/food">
          <i class="bx bx-food-menu"></i>
          <span class="links_name">Food</span>
        </a>
        <span class="tooltip">Food</span>
      </li>
      <li>
        <a href="/users/<%= user.userId %>/medication">
          <i class="bx bx-first-aid"></i>
          <span class="links_name">Medication</span>
        </a>
        <span class="tooltip">Medication</span>
      </li>
      <li>
        <a href="/users/<%= user.userId %>/medicalHistory">
          <i class="bx bx-history"></i>
          <span class="links_name">Medical History</span>
        </a>
        <span class="tooltip">Medical History</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-bed"></i>
          <span class="links_name">Sleep</span>
        </a>
        <span class="tooltip">Sleep</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-plus-medical"></i>
          <span class="links_name">Health</span>
        </a>
        <span class="tooltip">Health</span>
      </li>
      <li class="profile">
        <div class="profile-details">
          <div class="name"><%= user.userName %></div>
        </div>
      </li>
    </ul>
  </div>
  <!-- CHANGE THE LAYOUT IN THIS SECTION -->
  <section class="home-section">
    <div class="text">Profile</div>
    <div class="home-section-content">
      <p class="start">Update Personal Info</p>
      <hr>
      <p class="info-value"><span class="info-item">Current Name: </span><%= user.userName %></p>
      <form method="POST" action="/api/users/<%= user.userId %>/name">
        <label class="info-item" for="userName">New Name:</label>
        <input type="text" id="userName" name="userName" value="<%= userName %>" required>
        <button>Save</button>
      </form>
      <br>
      <p class="info-value"><span class="info-item">Current Email: </span><%= user.email %></p>
      <form method="POST" action="/api/users/<%= user.userId %>/email">
        <label class="info-item" for="email">New Email:</label>
        <input type="text" id="email" name="email" value="<%= user.email %>" required>
        <button>Save</button>
      </form>
      <br>
      <p class="info-value"><span class="info-item">Current Gender: </span><%= user.gender %></p>
      <form method="POST" action="/api/users/<%= user.userId %>/gender">
        <label class="info-item" for="gender">New Gender:</label>
        <select id="gender" name="gender" required>
          <option value="">-- Select Gender --</option>
          <option value="Male" <% if (user.gender === 'Male') { %>selected<% } %>>Male</option>
          <option value="Female" <% if (user.gender === 'Female') { %>selected<% } %>>Female</option>
          <option value="Other" <% if (user.gender === 'Other') { %>selected<% } %>>Other</option>
        </select>
        <button>Save</button>
      </form>
      <br>
      <p class="info-value"><span class="info-item">Current Birthday: </span><%= user.birthday.toLocaleDateString() %></p>
      <form method="POST" action="/api/users/<%= user.userId %>/birthday">
        <label class="info-item" for="birthday">New Birthday:</label>
        <input type="date" id="birthday" name="birthday" value="<%= user.birthday.toISOString().slice(0,10) %>" required>
        <button>Save</button>
      </form>
      <br>
      <p class="info-value"><span class="info-item">Current Place: </span><%= user.place %></p>
      <form method="POST" action="/api/users/<%= user.userId %>/place">
        <label class="info-item" for="place">New Place:</label>
        <input type="text" id="place" name="place" value="<%= user.place %>" required>
        <button>Save</button>
      </form>
      <br>
    </div>
  </section>
  <script>
    let sidebar = document.querySelector('.sidebar');
    let closeBtn = document.querySelector('#btn');
    let searchBtn = document.querySelector('.bx-search');

    closeBtn.addEventListener('click', () => {
      sidebar.classList.toggle('open');
      menuBtnChange(); //calling the function
    });

    searchBtn.addEventListener('click', () => {
      // Sidebar open when you click on the search icon
      sidebar.classList.toggle('open');
      menuBtnChange(); //calling the function
    });

    // the code changes sidebar button
    function menuBtnChange() {
      if (sidebar.classList.contains('open')) {
        closeBtn.classList.replace('bx-menu', 'bx-menu-alt-right'); //replacing the icons class
      } else {
        closeBtn.classList.replace('bx-menu-alt-right', 'bx-menu'); //replacing the icons class
      }
    }
  </script>
</body>

</html>